In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

data = '~/Letter-Recognition/data_set/letter-recognition.data'
columns = ['lettr','x-box','y-box','width','high','onpix','x-bar','y-bar','x2bar','y2bar','xybar','x2ybr','xy2br','x-ege','xegvy','y-ege','yegvx']
df = pd.read_csv(data, names = columns)
df.shape

(20000, 17)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
lettr    20000 non-null object
x-box    20000 non-null int64
y-box    20000 non-null int64
width    20000 non-null int64
high     20000 non-null int64
onpix    20000 non-null int64
x-bar    20000 non-null int64
y-bar    20000 non-null int64
x2bar    20000 non-null int64
y2bar    20000 non-null int64
xybar    20000 non-null int64
x2ybr    20000 non-null int64
xy2br    20000 non-null int64
x-ege    20000 non-null int64
xegvy    20000 non-null int64
y-ege    20000 non-null int64
yegvx    20000 non-null int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [7]:
df.head()

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8
1027,A,3,6,5,4,1,7,5,3,1,6,1,8,2,7,2,7
11108,A,5,9,6,7,7,8,8,8,4,6,6,8,3,8,8,4
1030,A,4,10,7,7,5,7,5,2,3,5,2,6,3,7,4,4
19420,A,4,9,7,7,5,8,5,2,4,6,1,5,3,5,4,5

In [17]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

#ordena em ordem alfabética
df = df.sort_values('lettr')

#Enumera letras de 0(A) até 25(Z)
df_num = df.iloc[:, :16].values
labelencoder_df = LabelEncoder()
df_num[:, 0] = labelencoder_df.fit_transform(df_num[:, 0])

df_num

array([[0, 4, 9, ..., 2, 7, 2],
       [0, 2, 7, ..., 2, 6, 2],
       [0, 5, 10, ..., 4, 6, 3],
       ...,
       [25, 5, 7, ..., 3, 9, 8],
       [25, 4, 4, ..., 0, 8, 8],
       [25, 2, 2, ..., 2, 8, 7]], dtype=object)